/media/
vendor/
composer.lock
.idea/
generis/
tao/
taoBackOffice/
taoDelivery/
taoDeliveryRdf/
taoGroups/
taoItems/
taoOutcomeUi/
taoQtiItem/
taoQtiTest/
taoQtiTestPreviewer/
taoResultServer/
taoTestTaker/
taoTests/